.Resetpassword_mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 10em; */
    background-image: linear-gradient(320deg,pink,#7545f9); 
    padding-top: 15em;
    padding-bottom: 28.5em;
}
.ResetPasswordForm{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    background: url(technoligy-white.jpg) no-repeat;
    background-size: cover;
    width: 400px;
    /* height: 350px; */
    height: 450px;
    color: #162938;
    font-family:  sans-serif;
}
.ResetPasswordForm h1{
    margin-top: 2em;
    margin-left: -2em;
}
.ResetPasswordForm h5{
    font-weight: 500;
    font-size: 16px;
    font-family:  sans-serif;
    margin-top: -0.5em;
    margin-left: -2em;
    line-height: 1.5;
}
.ResetPasswordForm span{
    margin-left: -4em;
}
.EmailLabeldiv{
    margin-left: 4em;
    margin-top: 5px;
    /* margin-bottom: 15em; */
    border-bottom:2px solid  #162938;
    width: 70%;
}
.EmailLabeldiv input{
    padding: 7px;
    background: transparent;
    width: 100%;
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: -0.5em;
    border: 1px solid balck;
    border: none;
    /* border-bottom:2px solid #162938; */
    color: #162938;
    outline: none;
    font-size: 1em;
    font-weight: 700; 
}

.ResetPasswordForm Button{
    background-color: #162938;
    border-radius: 10px;
    padding: 15px;
    width: 73%;
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin-top: 1em;
    margin-left: -2em;
}

.Reseterror{
    color: red;
    margin-left: 40px;
    font-size: 15px;
}
.Resetternary_error{
    margin-top: -1em;
    
}
.Reset_newpassword_error{
    margin-left: 0.9em;
    color: red;
    font-size: 16px;
}
